body {
  display:flex;
  flex-direction:column;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}
ul {
  padding:0;
  margin:0;
  list-style-type:none;
  
}
li {
  margin-bottom:20px;
}
a {
  font-size:24px;
  color:white;
  text-decoration:none;
  
}
.header {
  display:flex;
  align-items:center;
  height: 72px;
  font-size:32px;
  font-weight:900;
  background: darkmagenta;
  color: white;

}
.headerText {
  margin:16px;
}
.footer {
  display:flex;
  height: 72px;
  background: #eee;
  color: darkmagenta;
  margin-top:auto;
  justify-content:center;
  align-items:center;
}
.content {
  display:flex;
  flex-direction:row;
  flex:1;
}
.sidebar {
  display:flex;
  width: 300px;
  padding:16px;
  flex:1 0 auto;
  flex-direction:column;
  background: royalblue;
  box-sizing: border-box;
}
.cards {
  display:flex;
  flex-wrap:wrap;
  gap:20px;
  
}
.card {
  width:300px;
  padding:48px;
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
 
}
